body{
    background-image: linear-gradient(to right, rgb(7, 7, 7), rgba(0, 0, 0, 0.637));
}

.card-menu{
    display: flex;
    justify-content: space-between;
    margin: 2%;
    color: aliceblue;
}

.card-menu-pages{
    display: flex;
    gap: 40px;
}

.page-menu-link{
    text-decoration: none;
    color: aliceblue;
}

/* Parte de Cadastrar as informações*/

.container{
    height: 350px;
    width: 69%;
    background-color: black;
    color: white;
    display:flex
}

.card-principal{
    height: 270px;
    width: 50%;
    background-color:rgb(29, 27, 27);
    margin-top: 5%;
}

.img1{
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(24, 23, 24, 0)),
    url("../img/img1.jpg");
}

.img1 {
    background-position: center;
    background-size: 100%;
    flex-direction: column;
    padding: 0 0 20px 0;
    justify-content: flex-end;
    color: #f0edda;
    cursor: pointer;
    transition: 100ms;
    height: 100%;
    border-radius: 12px;
  }

  .img2{
    background-image: url("../img/img2.png");
}

.img2 {
    background-size: 100%;
    flex-direction: column;
    padding: 0 0 20px 0;
    align-items: center;
    justify-content: flex-end;
    color: #f0edda;
    cursor: pointer;
    transition: 500ms;
    height: 90%;
    border-radius: 12px;
    margin-top: 12px;
  }

  .img2{
   height: 110px;
   width: 130px;
   margin-top: -2%;
   margin-left: 68%;
  }

  .img3-img4{
    display: flex;
    margin-left: 70%;
    margin-top: -20%;
  }

  .img3{
    height: 50px;
    width: 50px;
  }

  .img4{
    height: 50px;
    width: 50px;
    margin-left: -10%;
  }

.card-cadastrar{
    height: 250px;
    width: 40%;
    margin: 2%;
}

input{
  padding: 7px 7px 7px 7px;
}

.button1{
    padding: 7px 7px 7px 7px;
}

span{
    font-weight: bold;
    font-size: 20px;
}

.card-navbar{
    display: flex;
    margin-top: -25%;
    margin-left: 10%;
    font-size: 20px;
}

.button2{
    padding: 8px 8px 8px 8px;
    border-radius: 12px;
    background-color: #000;
    color: red;
    transition: 2s;
    font-weight: bold;
}

.button2:hover{
    transform: scale(1.1);
    transition: 2s;
}

